{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Lista de tarefas</h1>
        <nav>
            <a href="" class="a-nav-1">Produtos</a>
            <a href="" class="a-nav-1">Sobre</a>
            <a href="" class="a-nav-1">Planos</a>
        </nav>
        <nav>
            <button type="button" class="button">Entrar</button>
            <button type="button" class="button">Cadastrar-se</button>
        </nav>
    </header>
    <main>
    </main>
</body>
</html>