{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/login.css' %}">
    <title>Entrar</title>
</head>
<body>
    <form action="">
        <h1>Entrar</h1>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email">
        <label for="password">Senha</label>
        <input type="password" name="password" id="password">
        <button type="submit" class="button">Entrar</button>
        <a href="{% url 'signup' %}">Cadastrar-se</a>
    </form>
</body>
</html>